* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 72px #101010 inset !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@font-face{
  src: url(../assets/fonts/ClashDisplay-Regular.otf);
  font-family: Clash;
}
@font-face{
  src: url(../assets/fonts/ClashDisplay-Light.otf);
  font-family: Clash-Light;
}
@font-face{
  src: url(../assets/fonts/ClashDisplay-Medium.otf);
  font-family: Clash-Medium;
}
@font-face{
  src: url(../assets/fonts/ClashDisplay-Bold.otf);
  font-family: Clash-Bold;
}

body{
  background-color: #101010;
}

p, a, input{
  font-family: Clash;
  color: white;
}

button {
  font-family: Clash-Medium;
}

h2 {
  font-family: Clash-Light;
  font-size: 2rem;
}

.form{
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form input{
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
  color: #ffff;
  width: 648px;
  padding: 16px;
  height: 72px;
  font-size: 2rem;
}
.form button{
  background-color: white;
  border-style: none;
  width: 186px;
  height: 72px;
  padding: 16px;
  margin-left: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}