main{
  background-color: #e5e5e5;
}
.artboard{
  background-color: #101010;

  height: 877px;
  width: 620px;

  overflow: hidden;
}

.artboard #generatedMessage{
  position:relative;
  max-width: 80%;
  cursor: move;
}

.final-result{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: none;

  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
